*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Kanit', sans-serif;
    font-size: large;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg,#71b7e6,#9b59b6);
}
.container{
    max-width: fit-content;
    max-height: fit-content;
    background: #fff;
    padding: 25px 30px;
    border-radius: 10px;
}
.container .title{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
}
input[type=text]{
    width: 100%;
    border: 2px solid #aaa;
    border-radius: 4px;
    margin: 8px 0; 
    outline: none;
    box-sizing: border-box;
}
input[type=text]:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}
.container .table{
    text-align: center;
}
.container .button{
    max-width: fit-content;
    max-width: fit-content;
    border-radius: 5px;
}
.mat-form-field{
    margin-left: 50px;
}
select{
    margin: 10px 0 10px 20px;
    border-radius: 5px;
}

.detail{
    margin: 20px 0 0 0;
}
.detail2{
    margin: 20px 0 0 50px;
}
input[type=radio]{
    margin: 0 20px 10px 10px;
}
input[type=number]{
    margin: 10px 5px 10px 5px;
    border-radius: 5px;
}
input[type=number]:focus{
    border-color: dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}
button{
    max-width: fit-content;
    max-height: fit-content;
    margin-left: 45%;
}