<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;500;600;700&display=swap" rel="stylesheet">
  </head>
  <body>
        <div class="container">
            <div class="title">Book a Flight</div>
            <form [formGroup]="bookform" action="#">
                <div class="input-box">
                    <label class="full-input">Full Name</label>
                    <input type="text" placeholder="Enter your name" formControlName="FullName">
                </div>
                <div class="select">
                    <label class="detail">From</label>
                    <select class="select1" formControlName="From">
                        <option value="Don Mueang">Don Mueang International Airport</option>
                        <option value="Chiang Mai">Chiang Mai International Airport</option>
                        <option value="Phuket">Phuket International Airport</option>
                    </select>
                    <label class="detail2">To</label>
                    <select class="select2" formControlName="To">
                        <option value="Don Mueang">Don Mueang International Airport</option>
                        <option value="Chiang Mai">Chiang Mai International Airport</option>
                        <option value="Phuket">Phuket International Airport</option>
                    </select>
                </div>
                <label class="detail">Trip Type</label>
                <div class="radio">
                    <input type="radio" formControlName="Type" value="One Way"><span>One way</span>
                    <input type="radio" formControlName="Type" value="Return"><span>Return</span>       
                </div>
                <div class="date">
                    <mat-form-field class="departure">
                        <input matInput [matDatepicker]="Departure" formControlName="Departure" placeholder="Departure">
                        <mat-datepicker-toggle [for]="Departure" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #Departure></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="arrival">
                        <input matInput [matDatepicker]="Arrival" formControlName="Arrival" placeholder="Arrival">
                        <mat-datepicker-toggle [for]="Arrival" matSuffix></mat-datepicker-toggle>
                        <mat-datepicker #Arrival></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="input-num">
                    <label class="number">Adults</label>
                    <input type="number" formControlName="Adults" min=0>
                    <label class="number">Children</label>
                    <input type="number" formControlName="Children" min=0>
                    <label class="number">Infants</label>
                    <input type="number" formControlName="Infants" min=0>
                </div>
                <div>
                    <button type="button" class="btn btn-primary" [disabled]= "bookform.invalid" (click)="onSubmit(bookform)"> Submit </button>
                </div>
                <table class="table">
                    <thead>
                        <tr class="table-title">
                            <th>Full Name</th><th>From</th><th>To</th><th>Trip Type</th>
                            <th>Departure</th><th>Arrival</th><th>Adults</th><th>Children</th><th>Infants</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let f of flights">
                            <td>{{ f.fullName }}</td>
                            <td>{{ f.from }}</td>
                            <td>{{ f.to }}</td>
                            <td>{{ f.type }}</td>
                            <td>{{ convertDate(f.departure) }}</td>
                            <td>{{ convertDate(f.arrival) }}</td>
                            <td>{{ f.adults }}</td>
                            <td>{{ f.children }}</td>
                            <td>{{ f.infants }}</td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
  </body> 
</html>


